<!-- <%- include('./partials/header.ejs') %>
<%- include('./partials/navigation.ejs')%> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>


    <nav>
        <h2 class="logo"><span>E</span>PAY</h2>
        <div class="nav_right">



            <a href="#blog">Blog</a>
            <a href="#about">About</a>
            <a> Community</a>
            <a>Sign In</a>
            <button>Sign Up</button>
        </div>
    </nav>




    <div class="landingpage">
        <div class="landingpage-left">
            <h1>Easy</h1>
            <h1>Payment</h1>
            <h4>Fast. Easy. Secure.</h4>
            <button>Learn More</button>
            <small>Availaible On Store</small>
            <div class="store_logo">
                <img src="../images/store_logos.png" alt="">
            </div>
        </div>
        <div class="landingpage-right">
            <img width="100px" height="100px" src="../public/images/img2.svg" alt="">
        </div>
    </div>

    <div class="secondpage">
        <h2>Budget made simple</h2>
        <h4>Easily create budgets, and see our suggetions <br> based on your spending.</h4>
        <div class="secondpage_cards">
            <div class="card">
                <h1 class="electronics"> <span class="electronics">$ </span>45</h1>
                <h5 class="electronics">Electronics</h5>
            </div>
            <div class="card">
                <h1 class="internet"><span>$ </span>90</h1>
                <h5 class="internet">Internet & TV</h5>
            </div>
            <div class="card" id="card">
                <h1 class="education"><span>$ </span>101</h1>
                <h5 class="education">Education & more</h5>
            </div>
        </div>
    </div>

    <div class="thirdpage">
        <div class="thirdpage_left">
            <div class="thirdpage_left-card1"></div>
            <div class="thirdpage_left-card2">
                <div class="thirdpage_left-card2_head">
                    <div class="sender_profilepic"></div>
                    <div class="arrow"></div>
                    <div class="reciever_profilepic">
                        <h2>EP</h2>
                    </div>
                </div>
                <div class="thirdpage_left-card2_middle">
                    <h1><span>15</span>th May</h1>
                    <h2>Monthly rent to be paid to RB Agency.</h2>
                    <h3>Reccuring Payment <span>15th of Month</span></h3>
                </div>
                <div class="thirdpage_left-card2_footer">
                    <div class="payment_status_logo"><i class="fa fa-check"></i></div>
                    <h3>Successful Payment</h3>
                </div>
            </div>
        </div>
        <div class="thirdpage_right">
            <h1>SEE ALL INCOMING</h1>
            <h2>Get the whole pictures</h2>
            <p>Easy payments helps you view a monthly incomeing so you achieve your money goal. Say good-bye to money
                stress
                and
                hello to confidence in your financial future.</p>

            <button>Discover</button>
        </div>
    </div>

    <div class="fourthpage">
        <div class="fourthpage-left">
            <h5>STRESS FREE SPENDING</h5>
            <h3>Financial habits</h3>
            <h4>Analyse your finance with beautiful, simple and easy to understand graphic. See where your money goes
                and
                where
                they come from every month.</h4>
            <button>Get Started</button>
        </div>
        <div class="fourthpage-right">

        </div>
    </div>

    <!-- ************************************************ -->

    <div id="blog" class="fifthpage">
        <h2>Flexible ways to get paid</h2>
        <div class="fifthpage-section">
            <div class="section-left">
                <h2><img width="40px" height="25px" src="../images/Group 3.png"> MarketPlace And networks</h2>
                <p>Connects with thousand of company that pay via Easy Payment: Assist, Curios Inc, Pig Iron, Exon, New
                    Seahawk
                    International.</p>
                <h4>See more <i class="fa fa-chevron-right"></i></h4>
            </div>
            <div class="section-right">
                <h2><img width="40px" height="25px" src="../images/Group 2.png" alt="">Clints You Work With Directly
                </h2>
                <p>Send a payment request to you client and get paid by credit card or EP, whatever your bussiness
                    payment
                    needs.
                </p>
                <h4>See more <i class="fa fa-chevron-right"></i></h4>
            </div>
        </div>
    </div>
    </div>

    <!-- ********************************************* -->

    <div class="sixthpage">
        <div class="sixthepage-left">
            <img id="logo_airbnb" src="../images/airbnb logo.png" alt="">
            <img id="logo_amazon" src="../images/amazon logo.png" alt="">
            <img id="logo_google" src="../images/google logo.png" alt="">
            <img id="logo_ica" src="../images/ica logo.png" alt="">
            <img id="logo_kia" src="../images/kia logo.png" alt="">
            <img id="logo_logo" src="../images/logo.png" alt="">
            <img id="logo_visa" src="../images/visa logo.png" alt="">
            <img id="logo_circle" src="../images/circle logo.png" alt="">
        </div>
        <div class="sixthpage-right">
            <h1>WORK WITH US</h1>
            <h2>Our Partners</h2>
            <h5>Completely thought, making the have on similar where such annoyed. Who the acquiesce him contrast, in
                the
                threw if sleep.</h5>
        </div>
    </div>




    <!-- ********************************************* -->

    <div class="seventhpage">
        <div class="seventhpage-left">
            <h3>SUBSCRIBE TO OUR UPDATES</h3>
            <h2>Budget anywhere</h2>
            <p>Budgetting is not restrictive. You won't be less,<br> you'll be spending smart. So what do you have to
                lose?
            </p>
            <div class="email-drop-box">
                <!-- <h6>Business email</h6> -->
                <input class="inp_email" type="text" placeholder="Business Email">
                <button>Send</button>
            </div>
        </div>
        <div class="seventhpage-right"></div>
    </div>

    <div class="footer">
        <div class="footer-left">
            <div class="footer_logo">
                <h1><span>E</span>PAY</h1>
                <h4>Lorem ipsum dolor sitaliquam,Lorem ipsum dolor sit amet. voluptatem laboriosam culpa iste ipsa totam
                    obcaecati? Dolorum, perspiciatis dolores officia optio ex incidunt sit at eligendi perferendis
                    rerum.
                </h4>
            </div>
            <div class="links">
                <a href="">Blog </a>
                <a href="">About</a>
                <a href="">Community</a>
                <a href="">Sign In</a>
            </div>
        </div>
        <div class="footer-right" id="about">
            <h5>Available on Store</h5>
            <img src="../../images/store_logos.png" alt="">
            <h6>&copy; 2019 EPAY All rights reserved</h6>
        </div>
    </div>




</body>

</html>




<!-- <%- include('./partials/footer.ejs')%> -->